@using cerensoytuna.Resource
@inject LocalizationService localizationService

@{
    ViewData["Title"] = "hakkimzida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .page-title {
        position: relative;
        display: block;
        width: 100%;
        padding: 70px 0px 70px 0px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>

<section class="page-title centred" style="background-image: url(https://uploads.drcerenayozger.com/site/klinik3.jpg); background-position:bottom;">
    <div class="container">
        <div class="content-box">
            <h1>@localizationService.GetLocalizedHtmlString("KLİNİĞİMİZ")</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="anasayfa/sayfa">@localizationService.GetLocalizedHtmlString("ANA SAYFA")</a></li>
                <li>@localizationService.GetLocalizedHtmlString("KLİNİĞİMİZ")</li>
            </ul>
        </div>
    </div>
</section>

<section class="gallery-page-section">
    <div class="container">
        <div class="sortable-masonry">
            <div class="items-container row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all program children nature">
                    <div class="gallery-block">
                        <div class="image-box">
                            <figure class="image"><img src="https://uploads.drcerenayozger.com/site/testimonial-1.jpg" alt=""></figure>
                            <div class="overlay-box"><a href="https://uploads.drcerenayozger.com/site/testimonial-1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-add"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all children library">
                    <div class="gallery-block">
                        <div class="image-box">
                            <figure class="image"><img src="https://uploads.drcerenayozger.com/site/testimonial-2.jpg" alt=""></figure>
                            <div class="overlay-box"><a href="https://uploads.drcerenayozger.com/site/testimonial-2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-add"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all program nature">
                    <div class="gallery-block">
                        <div class="image-box">
                            <figure class="image"><img src="https://uploads.drcerenayozger.com/site/testimonial-3.jpg" alt=""></figure>
                            <div class="overlay-box"><a href="https://uploads.drcerenayozger.com/site/testimonial-3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-add"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all branding library">
                    <div class="gallery-block">
                        <div class="image-box">
                            <figure class="image"><img src="https://uploads.drcerenayozger.com/site/testimonial-4.jpg" alt=""></figure>
                            <div class="overlay-box"><a href="https://uploads.drcerenayozger.com/site/testimonial-4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-add"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all program children nature">
                    <div class="gallery-block">
                        <div class="image-box">
                            <figure class="image"><img src="https://uploads.drcerenayozger.com/site/testimonial-5.jpg" alt=""></figure>
                            <div class="overlay-box"><a href="https://uploads.drcerenayozger.com/site/testimonial-5.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-add"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all children program library">
                    <div class="gallery-block">
                        <div class="image-box">
                            <figure class="image"><img src="https://uploads.drcerenayozger.com/site/testimonial-6.jpg" alt=""></figure>
                            <div class="overlay-box"><a href="https://uploads.drcerenayozger.com/site/testimonial-6.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-add"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all program children nature">
                    <div class="gallery-block">
                        <div class="image-box">
                            <figure class="image"><img src="https://uploads.drcerenayozger.com/site/testimonial-7.jpg" alt=""></figure>
                            <div class="overlay-box"><a href="https://uploads.drcerenayozger.com/site/testimonial-7.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-add"></i></a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>